{% extends 'base.html' %}
{% load static%}
{% block content %}
  <section style="margin-top:50px" class="home-section">
    <div class="home-content">
      <div class="col-md-12">
<div>
	<h1 align="middle">ABOUT US</h1>
	<p style="padding: 15px;
	font-family: verdana;
	color: grey;
	font-size: 20px;
	align-content: left;">Got to know more about your constituency.<br>
	involve yourself in the development process, through access to information and participating 
	on planning process</p>
</div>
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<div id="packages">
			<h2>Project Geolocation</h2>
			<p>This site provides easy to use interface to
			find location of the goverment projects in your location
		through searches</p>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<div id="packages">
			<h2>Public reports</h2>
			<p>Your will be done, to report on any suspicious
			doing find mismanagement on the ground through
		pictures and complains</p>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<div id="packages">
			<h2>Public proposal</h2>
			<p> in unspouse to nerds or issues that require funds/rsources for 
			community building you can show your performance and suggestions</p>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<div id="packages">
			<h2 align="middle">Projects planning and answers</h2>
			<p>Heat maps and buffering polygons, searches are
			enabled within our maps to help the admin analyze your
			proposal based on your location and provide a guideline justifiable feed back</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<div id="packages">
			<h2>Seme Cdf</h2>
			<img src="{%static 'semepics/cdf1.JPG' %}">
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<div id="packages">
			<h2>Seme Cdf</h2>
			<img src="{%static 'semepics/cdf2.jpg' %}">
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<div id="packages">
			<h2>Seme Cdf</h2>
			<img src="{%static 'semepics/cdf3.jpg' %}">
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<div id="packages">
			<h2 align="middle">Seme Cdf</h2>
			<img src="{%static 'semepics/cdf4.jpg' %}">
		</div>
	</div>
</div>
	</div>
</div>
</section>

{% endblock %}