{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="align-content: center;text-align: center;" class="contact services team">
			<h2 align="middle">Find us through</h2>
			
				<p>Embrassing power of spatial objects</p>
				<a href="https://web.facebook.com/groups/187985118765818/?ref=bookmarks"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
	</div>	
		
{% endblock %}