{% extends 'Admin/base.html' %}
{% block title%}
{% load widget_tweaks %}
Reports
{% endblock%}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

<link rel="stylesheet" type="text/css" href="https://www.bootstrapcdn.com/fontawesome/">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnout.com/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js"></script>
<link href="https://cdnout.com/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css" rel="stylesheet" media="all">
  <section style="margin-top:70px" class="home-section">
    <div class="home-content">
      <div class="col-md-12">
      	<h3 style="color:red; text-align:center" >Create New Project
            </h3>
		<div class="event">
	<div class="row">
		<form enctype="multipart/form-data"  action="" role="" method="post">
			{% csrf_token %}
                  {% for comp in projects %}
                            <input type="hidden" name="project_manager" value="{{comp.id}}">
                            {% endfor %}
			<div class="col-lg-3 col-md-3 col-sm-12" style="font-size: 13px; padding-left: 3px;">
				<!-- {{reports.image}}<br> -->
				<!-- {{reports.description}}<br> -->
				<!-- {{reports.opinion}} -->
				<label for="project">Project Name:</label>
				<input type="text" id="project" required name="project" value="" class="form-control" placeholder="project">
				<label for="descrition">Description Of project:</label>
				<textarea id="descrition" name="descrition" class="form-control" placeholder="description"></textarea>
				<!-- <input type="text" id="descrition" required name="descrition" value="" class="form-control" placeholder="description"><br> -->
				
				<!-- <label for="phases">Phase of project:</label>
				<select style="" class="form-control" required name="phases" id="id_phases">
					<option>Select phase here</option>
          <option>phase1</option>
          <option>phase2</option>
          <option>phase3</option>
          <option>phase4</option>
          <option>phase5</option>
        </select>
 -->        <label for="sectors">Sector:</label>
				<input type="text" id="sectors" required name="sectors" value="" class="form-control" placeholder="sectors">
				<label for="amount">Amount:</label>
				<input type="text" id="amount" required name="amount" value="" class="form-control" placeholder="amount">
			 <!-- <label for="status">Status:</label>
				<select style="" class="form-control" required name="status" id="id_status">
					<option>Select status here</option>
          <option>Complete</option>
          <option>Incomplete</option>
          <option>Onprogress</option>
          <option>Stopped</option>
        </select> -->
        <label for="county_nam">County Name:</label>
				<input type="text" id="county_nam" required name="county_nam" value="" class="form-control" placeholder="county name">
        <label for="location">Location:</label>
				<input type="text" id="location" required name="location" value="" class="form-control" placeholder="location">
				<label for="startdate">Start Date:</label>
				<input type="date" id="startdate" required name="startdate" value="" class="form-control" placeholder="start date">
				<label for="propdate">Proposed End Date:</label>
				<input type="date" id="propdate" required name="propdate" value="" class="form-control" placeholder="location">
				<label for="lat">Latitude:</label>
				<input type="text" id="lat"   required name="lat" value="" class="form-control" placeholder="latitude">
				<label for="lon">Longitude:</label>
				<input type="text" id="lon" required name="lon" value="" class="form-control" placeholder="longitude">
				<label for="contractor">Contractor</label>
				{% render_field form.project_cont class="form-control"  %}

		    <label for="engineer">Engineer</label>

		    {% render_field form.project_eng class="form-control"  %}

				

			</div>
			<div class="col-lg-9 col-md-9 col-sm-12" style="opacity: ;">
				<div id="address" style=" height: 450px; width: 750px;"></div>
				
				<input id="coordinates" name="coordinates" value="" type="hidden" />
				<br><br>
				<input type="submit" name="submit" class="btn btn-primary btn-xs" value="Add Project" style="width: 750px;">
			</div>


		</form>
		
	</div>
	
</div>
<!-- Geolocation map -->
<script type="text/javascript">

  var mymap = L.map('address').setView([0.053543,37.648399], 13);


		var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(mymap);


	// var mymap = L.map('address').setView([-0.121861,34.569815], 13);

	// var marker = new L.Marker([-0.3976933016545059,36.96074903011323]);

	// marker.bindPopup('This is where we are located').openPopup();
	// marker.addTo(mymap)

	// L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
 //    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
 //    maxZoom: 18,
 //    id: 'mapbox.streets',
 //    accessToken: 'pk.eyJ1IjoiaXJ1bmd1YXl1YiIsImEiOiJjamZ4cWk3cjIxbWp5MnJxcXkyazh2NXRnIn0.7BFq1ew_8pN519OPTbGRMQ'}).addTo(mymap);

     // Geolocation Section
	 // mymap.locate({setView: true,maxZoom:17});
	 // function onLocationFound(e)
	 // {
	 // 	var radius = e.accuracy / 2
	 // 	var lat = e.latlng.lat
	 // 	var lng = e.latlng.lng
	 // 	console.log(e.latlng.lng)
	 // 	// Script for picking the coordinates and matching them to the id
	 // 	$('#coordinates').val(lng + ',' + lat) 
	 // 	console.log('I am done!')
	 // 	L.marker(e.latlng).addTo(mymap).bindPopup('You are within ' + radius + ' meters from this point').openPopup();
	 // 	L.circle(e.latlng,radius).addTo(mymap);
	 // }

	 // mymap.on('locationfound',onLocationFound);

	 // function onLocationError(e)
	 // {
	 // 	alert(e.message);
	 // }

	 // mymap.on('locationerror',onLocationError);

	  function onMapClick(e) {
          var lat = e.latlng.lat;
          var lng = e.latlng.lng;           

          // Every time when user click on map we want to delete previous marker and create new marker on the new position where the user clicked      
          if (typeof marker != 'undefined') {
              mymap.removeLayer(marker);  // delete previous marker
              marker = L.marker([lat, lng]).addTo(mymap);  // add new marker
          }
          else {
              marker = L.marker([lat, lng]).addTo(mymap);  // add new marker
          }
          
          // we want to pass value of longitued and latitude to input field with id 'coordinates'
          // note that we set that field as hidden because we don't want user to type the coordinates there. We want him to set marker on map 
          $('#coordinates').val(lng + ',' + lat) 
          $('#lat').val(lat)
          $('#lon').val(lng)
          // alert('coordinates:' + lng + ',' + lat)         
        }

        // call the onMapClick function when user click on map
        mymap.on('click', onMapClick);
</script>
	</div>
</div>
</section>

{% endblock %}