<!-- //templates/edit.html -->
{% extends "Engineer/index.html" %}
 {% load widget_tweaks %}
 
{% block title %}Add New Employee Records{% endblock title %}
 
{% block content %}
  <section class="home-section" style="margin-top:80px;left: 340px;">
    <div class="home-content">
      <!-- <i class='bx bx-menu' ></i> -->
      <!-- <span class="text">Drop Down Sidebar</span> -->
      <div class="col-md-16">
    <!-- <h4>Django CRUD (Create Read Update Delete) Example - Bootstrap Datatable</h4>   -->
 <form role="" method="post" action="/updateapproval/">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
  <div class="form-group row">  
  <label class="col-sm-12 col-form-label"></label>  
  <div class="col-sm-4">  
  <h3>Progress Details</h3>  
  </div>  
   </div>  

     <div class="form-group row">  
  <!-- <label  class="col-sm-2 col-form-label">Project Name:</label>   -->
  <label class="col-sm-2 col-form-label" for="contractor">Cdf project</label>
  <div class="col-sm-4">  
    {% render_field form.cdfproject class="form-control" maxlength="150"%}

   <!-- <input  type="text" class="form-control" name="cdfproject" required maxlength="150"  -->
   <!-- value="{{ companydetails.project }}" />  -->
   <!-- {% render_field form.cdfproject class="form-control"%} -->
  </div>  
   </div>   
    <!-- <label for="contractor">Contractor</label> -->
        <!-- {% render_field form.cdfproject class="form-control" value="{{companydetails.project}}" %} -->
  <!-- </div>    -->
<div class="form-group row">  
  <label class="col-sm-2 col-form-label">Engineer Report:</label>  
  <div class="col-sm-4">  
   <input type="file" class="form-control" name="eng_report" required />  
  </div>  
   </div> 
   <div class="form-group row">  
  <label class=" colform-label"></label>  
  <div class="col-sm-2">
  {{ form_class.media}}  
    {{form_class}}
  </div>  
   </div>      
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Progress:</label>  
  <div class="col-sm-4">  
   <input type="number" class="form-control" pattern="[A-Za-z0-9-]+$" name="progress"  required maxlength="150" />  
  </div>  
   </div>     
      <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Engineer Images:</label>  
  <div class="col-sm-4">  
   <input type="file" class="form-control" name="images" required maxlength="15"  multiple />  
  </div>  
   </div>  
         <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Phases:</label>  
  <div class="col-sm-4">  
   <select style="" class="form-control" required name="phases" id="id_phases">
          <option>Select phase here</option>
          <option>phase1</option>
          <option>phase2</option>
          <option>phase3</option>
          <option>phase4</option>
          <option>phase5</option>
        </select>
  </div>  
   </div>  
         <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Engineer Approval:</label>  
  <div class="col-sm-4">  
   <select style="" class="form-control" required name="eng_approve" id="id_eng_approve">
          <option>Select here</option>
          <option>approved</option>
          <option>notapproved</option>
        </select>
  </div>  
   </div>  
  
   
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-success btn-lg">Save</button>  
  </div>  
   </div>  
  </div>  
 </form>  
    </div>
  </section>

{% endblock content %}   






